{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté sous {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-5 font-weight-normal">Connectez-vous!</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >






<div class="row">
    <div class="col-md-6 justify-content-start">
    <button class="btn btn-lg btn-primary mt-5" type="submit">
        C'est parti!
    </button>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="col-md-6 mt-5">
    <a href="{{  path('app_register') }}" class="btn btn-lg btn-secondary justify-content-end">Ajouter un collaborateur</a>
    </div>
    {% endif %}
</div>
</form>
    </div>
{% endblock %}
