{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur TorkImmo{% endblock %}

 {% block stylesheets %}



 {% endblock %}

{% block body %}
    <div class="header-description fullcontainer content-on-center w">
        <div class="row header-description-row middle-sm">
            <div class="header-content header-content-centered col-md col-xs-12 ">
                <div class="div_titre_banner  mx-auto text-center">
                    <!--texte défilent-->
                    <div class="cyber">
                        <h3 class="titre_fard my-2"> Tork ImmO!</h3>
                    </div>
                    <div class="cyber my-2"><span id="aide">Le logement devient beau!</span></div>
                </div>

            </div>

        </div>

    </div>



    <h1 class="text-center mb-5 mt-4">Quelques nouveautés</h1>
<div class="carrou">
    <div id="carouselExampleControls" class="carousel slide w-75 mx-auto mb-5" data-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <div class="card-deck">

                    {% for tab in tab1 %}

                        <div class="card ">

                            <img  class="mx-auto imageCard" src="{{ vich_uploader_asset(tab, 'photoBase') }}"  alt="11">
                            <div class="card-body">
                                <h5 class="card-title"> {{ tab.typeProduits.type }}&nbsp{{ tab.ville.nomVille }} </h5>
                                <p class="card-text"> {{  tab.description }}</p>
                                <p class="card-text"> {{  tab.prixHt }}</p>
                            </div>
                                <div class="text-center align-bottom"> <a  href="{{ path('produits_showAll', {'id': tab.id}) }}"> Voir </a></div>


                        </div>


                    {% endfor %}

                </div>
            </div>
            <div class="carousel-item ">
                <div class="card-deck">
                    {% for tab in tab2 %}
                        <div class="card ">

                            <img class="mx-auto imageCard" src="{{ vich_uploader_asset(tab, 'photoBase') }}"  alt="12">
                            <div class="card-body">
                                <h5 class="card-title"> {{ tab.typeProduits.type }} &nbsp {{ tab.ville.nomVille }} </h5>
                                <p class="card-text"> {{  tab.description }}</p>
                                <p class="card-text"> {{  tab.prixHt }}</p>
                            </div>
                               <div class="text-center align-bottom"> <a  href="{{ path('produits_showAll', {'id': tab.id}) }}"> Voir </a></div>


                        </div>

                    {% endfor %}

                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <!--Bouton filter-->
   <div class="border  mb-5 mt-3 w-50 mx-auto">
        <div class="row mx-auto" id="filtre">
            <h6 class="display-4 text-center">Recherche rapide</h6>
            <a class="btn btn-dark mt-2 mb-2 mr-2 ml-auto " id="titreFiltre" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-filter text-light pt-5"></i>&nbsp;Filtrer
            </a>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body mb-2">
                {{ form_start(form) }}
                <div class="row d-flex justify-content-between">
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_row(form.LocAchat)}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_row(form.typeProduits)}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_row(form.nombreChambre)}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_row(form.ville)}}
                        </div>
                    </div>


                    <div class="col-md-3 ">
                        <div class="form-group  ">
                            {{ form_row(form.prixHt)}}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <button type="submit" class="btn btn-outline-dark btn-lg btn-block">Rechercher</button>
</div>
                    {{ form_end(form) }}
            </div>
        </div>
   </div>

    <div class="row mb-2 col-md-12 w-100 infomap ml-0">
        <div class="col-md-5 mb-3 mx-auto" id="bref">
            <h2 class="text-center text-white mt-2">TorkImmo en bref</h2>
            <p class="text-center text-white mt-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum mauris id ex accumsan suscipit. Nullam semper risus at felis molestie, sit amet dignissim risus vehicula. Quisque sit amet felis diam. Maecenas rutrum leo id libero
                semper, nec sodales ex feugiat. Curabitur eu vestibulum metus, eu vestibulum est. Nullam nec augue eget metus dignissim maximus nec sit amet eros. Maecenas suscipit magna ut ante facilisis molestie. Sed consectetur lorem et metus porta
                posuere. Donec lorem neque, hendrerit at ante et, rutrum eleifend justo. Ut egestas venenatis vestibulum. Aenean maximus ligula eget erat cursus, sed sagittis felis congue. Maecenas ac quam nibh. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed ut elit tellus. Quisque elementum in nibh nec cursus. Aliquam in risus et lectus ullamcorper tempus. Pellentesque interdum facilisis tristique. Ut at velit a leo lacinia vestibulum. Etiam vel aliquam ligula, sit amet
                placerat augue.</p>
        </div>
        <div class="col-md-5 mb-3 mx-auto">
            <div id="map">

            </div>


        </div>

    </div>
    {% block javascripts %}

        <script src="{{ asset("libs/js/index.js") }}"></script>
    {% endblock %}
{% endblock %}


