{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Nos biens</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <h1 class="ml-auto"><a  href="{{ path('produits_new') }}">Ajouter un bien</a></h1>
            {% endif %}
        </div>
        <div class="card mb-4">
            {%  for pag in pagination %}
                <div class="card-body">
                    <h5 class="card-title">
                        {{ pag.typeProduits.type }}
                    </h5>
                    <hr>
                    <div class="text-center">
                    <img src="{{ vich_uploader_asset(pag, 'photoBase') }}"  class="imageCard" alt="1"></div>
                    <p class="card-text">
                        {{ pag.adresse }}
                    </p>
                    <p class="card-text">
                        {{ pag.ville.nomVille }}
                    </p>
                    <p class="card-text">
                        {{ pag.description }}
                    </p>
                    <p class="card-text">
                        {{ pag.prixHt }}
                    </p>

                    <a class="btn btn-primary text-white" href="{{ path('produits_showAll', {'id': pag.id}) }}">Voir</a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-info text-white" href="{{ path('produits_edit', {'id': pag.id}) }}">Modifier</a>
                        <a  class="btn btn-success float-right" href="{{ path('panier_add', {'id': pag.id}) }}"><span class="fa fa-shopping-cart mr-1"></span>Ajouter</a>

                    {% endif %}
                </div>

            {% endfor %}
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>






    </div>
{% endblock %}
