{% extends 'base.html.twig' %}

  {% block title %}Détails de votre recherche{% endblock %}

  {% block body %}
      <div class="container">
          <div class="row">
              <h1>Détails de votre recherche</h1>

          </div>
          <div class="card mb-4">
              {%  for pag in pagination %}
                  <div class="card-body">
                      <h5 class="card-title">
                          {{ pag.typeProduits.type }}
                      </h5>
                      <hr>
                      <div class="text-center">
                          <img  src="{{ vich_uploader_asset(pag, 'photoBase') }}" class="imageCard"  alt="12"></div>
                      <p class="card-text">
                          {{ pag.adresse }}
                      </p>
                      <p class="card-text">
                          {{ pag.ville.nomVille }}
                      </p>
                      <p class="card-text">
                          {{ pag.description }}
                      </p>
                      <p class="card-text">
                          {{ pag.prixHt }}
                      </p>

                      <a class="btn btn-primary text-white" href="{{ path('produits_showRecherche', {'id': pag.id}) }}">Voir</a>

                  </div>

              {% endfor %}


          </div>
      </div>
  {% endblock %}

