{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="text-center text-danger">Contactez-nous</h1>
    <div class="container">
        {{ form_start(form) }}

        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.sujet) }}
        {{ form_row(form.message) }}
        {#{{ form_row(form.dateEnvoi) }}#}

        {{ form_end(form) }}
    </div>
{% endblock %}
