{% extends 'base.html.twig' %}

{% block title %}Nos biens à la vente{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nos biens à la vente</h1>
        <div class="card mb-4">
            {%  for pag in pagination %}
                <div class="card-body">
                    <h5 class="card-title">
                        {{ pag.typeProduits.type }}
                    </h5>
                    <hr>
                    <div class="text-center">
                        <img  src="{{ vich_uploader_asset(pag, 'photoBase') }}" style="width:50%; height: auto" alt=""></div>
                    <p class="card-text">
                        {{ pag.adresse }}
                    </p>
                    <p class="card-text">
                        {{ pag.ville.nomVille }}
                    </p>
                    <p class="card-text">
                        {{ pag.description }}
                    </p>
                    <p class="card-text">
                        {{ pag.prixHt }}
                    </p>

                    <a class="btn btn-primary text-white" href="{{ path('produits_showAcheter', {'id': pag.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-info text-white" href="{{ path('produits_edit', {'id': pag.id}) }}">edit</a>
                    {% endif %}
                </div>

            {% endfor %}
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    </div>
{% endblock %}





